{% load static %}
{% include 'header.html' %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        #a{

            color:black;
            text-align: justify;
            margin: 0 10px;
          }
          body{
             animation: fadeIn 1s ease-in-out;
             background: linear-gradient(135deg, #fff5f0, #ffe0cc);
        }
         @keyframes fadeIn {
            from {opacity: 0; transform: translateY(-20px);}
            to {opacity: 1; transform: translateY(0);}
        }
    </style>
</head>
<body>
<div id="a">


<h2><b>🔹KFC stands for <u>'Kentucky Fried Chicken'.</u></b></h2><br>
    <h2>🔹KFC was founded by Colonel Harland Sanders.</h2><br>
    <h2>🔹It is an<u> American fast food restaurant chain that specializes in fried chicken.</u></h2><br>
    <h2>🔹It is the world's second-largest restaurant chain (as measured by sales) after McDonald's.</h2><br>
    <h2>🔹The chain is a subsidiary of Yum! Brands, a restaurant company that also owns the Pizza Hut and Taco Bell chains.
</h2><br>
    <h2>🔹Today, KFC operates in more than<b> 150 countries</b>, serving millions of customers
        daily. Its menu includes fried chicken buckets, burgers, wraps, fries, beverages, and desserts.</h2><br>
    <h2>🔹KFC’s slogan “It’s Finger Lickin’ Good!” reflects its commitment to delivering delicious, freshly prepared food with great taste and quality.</h2>
</div>
</body>
</html>